

<div class="container">
<%# banner %>
  <div class="bg-cover bg-center h-auto text-white py-24 px-10 object-fill mt-10 mb-20 " style="background-image: url(https://parsonsvillas.com/scottsdale/wp-content/uploads/sites/2/2019/03/bannerVideo6-1.png)">
    <div class="md:w-1/2 backdrop-brightness-75">
      <p class="font-bold text-sm uppercase">Become a Host</p>
      <p class="text-3xl font-bold">Your home is our Adventure</p>
      <p class="text-2xl mb-10 leading-none">Want to see someone elses adventure?</p>
      <div class="w-36 bg-gradient-to-r from-pink-500 to-pink-800 py-4 px-8 text-white font-bold uppercase rounded hover:bg-gray-200 hover:text-gray-800 text-sm"><strong><%= link_to "Home Page", root_path%></strong></div>

    </div>

  </div>


<%# carosel %>
  <%# <div class="flex flex-col items-center border-t-4 border-pink mb-20"> %>
    <%# <h2 class="mt-10 text-2xl"><strong> What kind of place do you want to rent out?</strong></h2> %>
    <%# <div class="container"> %>
      <%# <div class="carousel">
        <div class="carousel__item carousel__item--selected">pic 1</div>
        <div class="carousel__item">pic 2</div>
        <div class="carousel__item">pic 3</div>

      </div> %>
 <%# \     <div class="carousel"> %>
        <%# <div class="carousel__item"><h2><strong>Beach Home</strong></h2> %>
<div class="flex space-x-2 justify-center ">
            <%# <button type="button" class="absolute bottom-4 left-4 z-40 inline-block px-6 py-2.5 bg-teal text-white font-medium text-xs leading-tight uppercase rounded shadow-lg hover:bg-teal-700 hover:shadow-lg focus:bg-pink-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-pink-800 active:shadow-lg transition duration-150 ease-in-out">It's most like this one!</button> %>
          <%# absolute bottom-4 left-4 %>
          <%# </div> %>
        <%# </div> %>
        <%# <div class="carousel__item"><h2><strong>Castle</strong></h2> %>
          <%# <div class="flex space-x-2 justify-center "> %>
            <%# <button type="button" class="absolute bottom-4 left-4 z-40 inline-block px-6 py-2.5 bg-teal text-white font-medium text-xs leading-tight uppercase rounded shadow-lg hover:bg-teal-700 hover:shadow-lg focus:bg-pink-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-pink-800 active:shadow-lg transition duration-150 ease-in-out">It's most like this one!</button> %>
          <%# absolute bottom-4 left-4 %>
          <%# </div> %>
        <%# </div> %>
        <%# <div class="carousel__item"><h2><strong>Tiny House</strong></h2> %>
        <%# <div class="flex space-x-2 justify-center "> %>
            <%# <button type="button" class="absolute bottom-4 left-4 z-40 inline-block px-6 py-2.5 bg-teal text-white font-medium text-xs leading-tight uppercase rounded shadow-lg hover:bg-teal-700 hover:shadow-lg focus:bg-pink-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-pink-800 active:shadow-lg transition duration-150 ease-in-out">It's most like this one!</button> %>
          <%# absolute bottom-4 left-4 %>
        <%# </div> %>
      <%# </div> %>
    <%# </div> %>
  <%# </div> %>
<%# </div> %>
<%= simple_form_for(@flat) do |f|%>
<%# <%= f.input :amenities, collection: Flat::AMENITIES %>
    <div class="flex flex-col items-center border-t-4 border-pink mb-20 w-full">
      <h2 class="mb-8 mt-20 text-2xl"><strong> What amneties does your rental provide?</strong></h2>
      <div class="mb-4">
        <%= f.input :tag_list, as: :select, selected: Flat::AMENITIES.first, collection: Flat::AMENITIES, input_html: { class:"custom-select hidden"}, label: false%>
       </div>
    </div>

      <%# address field %>
  <!-- component -->
    <%# <div class="min-h-screen p-6 bg-gray-100 flex items-center justify-center"> %>
      <div class="container max-w mx-auto">
        <%# <div>
          <h2 class="font-semibold text-xl text-gray-600">Responsive Form</h2>
          <p class="text-gray-500 mb-6">Form is mobile responsive. Give it a try.</p> %>
          <h2 class="mx-auto text-center text-2xl mt-8 mb-8"><strong> Where is your flat?</strong></h2>
          <div class="bg-white rounded shadow-lg p-4 px-4 md:p-8 mb-6">
            <div class="justify-items-center grid gap-4 gap-y-2 text-sm grid-cols-1 lg:grid-cols-3">
              <div class="lg:col-span-2">
                <div class="grid gap-4 gap-y-16 text-sm grid-cols-1 md:grid-cols-5">
                  <div class="md:col-span-3 border-2 border-pink">
                    <%= f.input :address, input_html: {class:"mr-12 "} %>
                  </div>

                  <div class="md:col-span-2 border-2 border-pink">
                    <%= f.input :city, input_html: {class:"mr-12 w-65"}  %>
                  </div>
                  <div class="md:col-span-2 border-2 border-pink w-64">
                    <%= f.input :country, input_html: {class:"mr-12 w-48"}  %>
                  </div>
                  <div class="md:col-span-2 border-2 border-pink w-64">
                    <%= f.input :state, input_html: {class:"ml-4 w-48"}  %>
                  </div>
                  <div class="md:col-span-1 border-2 border-pink w-64">
                    <%= f.input :zipcode, input_html: {class:"mr-12 w-48"}  %>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>

      <div class="flex justify-center border-t-4 pt-10 mt-20 border-pink mb-20">
        <div class="mb-3 w-96">
        <label for="formFileLg" class="form-label inline-block mb-2 text-gray-700"><h2 class="text-2xl mb-8"><strong> Time to upload a few pictures!</strong></h2></label>
          <%= f.input :photos, as: :file, label: false, input_html: {multiple: true, class:""} %>
        </div>
      </div>

    <div class="flex justify-center border-t-4 pt-10 mt-20 border-pink mb-20"></div>

        <h2><strong>How much did you want to charge how many guests?</strong></h2>
      <div class =" grid grid-cols-2 gap-4">
        <div class ="col-span-2">
          <h3 class="mx-auto">I would like to charge :  </h3>
          <h3 class="ml-20"><%= f.input :price, label: "$", input_html: {class:"mr-12 border-1 border-pink"} %> </h3>
          <h3>per night </h3>
        </div>
        <%# <div class ="">
          <h3 class="mx-auto">I would like to have no more than :  </h3>
          <h3 class="ml-20"><%= f.input :max_guests, label: false, input_html: {class:"mr-12 border-1 border-pink"} %> </h3>
          <%# <h3>guests </h3> %>
        <%# </div> %>
      </div>

      <div class="flex justify-center border-t-4 pt-10 mt-20 border-pink mb-20"></div>
      <div class="flex justify-center space-x-40">
        <div class="xl:w-96">
          <h2> What do you call your place?
            <%= f.input :name, label: false, input_html: {class:"w-96 h-68"} %>
          </h2>
        </div>

        <div class="xl:w-96 h-96 border-l-2 border-pink mb-20 pl-8">
          <h2> Give us a brief description of your place!
            <%= f.input :description, as: :text, label: false %>
          </h2>
        </div>
      </div>
    <div class="border-t-4 border-pink flex justify-center mb-20">
      <div class="flex justify-center mt-20">
        <div class="mb-3 xl:w-96 h-96">
          <label for="exampleFormControlTextarea1" class="form-label inline-block mb-2 text-gray-700">
            <div class="text-2xl"><strong>Lets set some ground rules for your guests</strong></label>
              <%= f.input :ground_rules, as: :text, label: false, input_html: {class:"w-96 h-96"} %>

            </div>
        </div>
        <div class="flex justify-center ml-8">
          <div class="mb-3 xl:w-96">
            <label for="exampleFormControlTextarea1" class="form-label inline-block mb-2 text-gray-700">
              <div class="text-2xl border-l-2 border-pink pl-8"><strong>How do you feel about cancellations?</strong></label>
                <%= f.input :cancellation,  as: :text, label: false, input_html: {class:"w-96 h-96"}  %>
              </div>
          </div>
        </div>
      </div>

      </div>
    </div>
   <div class="flex flex-col items-center border-t-4 border-pink pt-20 text-2xl mb-20">
      <h2 class="mb-10"><strong> Looks like you're finished! Take a moment to check your information!</strong></h2>
      <%# <%= f.button :submit %>
      <button type="submit" class="w-48 px-10 py-4 bg-pink text-white font-medium text-s leading-tight uppercase rounded shadow-md hover:bg-teal-600 hover:shadow-lg focus:bg-teal-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Submit</button>
    </div>

<% end %>

</div>
              <%# <%= f.input :description, as: :text %>


        <%# Delketed material %>


<%# <%= render "form", flat: @flat %>
<script src="./multiselect.js"></script>
<script src="./carousel.js"></script>
<script src="./scroll_up.js"></script>
