

<div class="container">
<%# banner %>
  <div class="bg-cover bg-center h-auto text-white py-24 px-10 object-fill mt-10 mb-20 " style="background-image: url(https://parsonsvillas.com/scottsdale/wp-content/uploads/sites/2/2019/03/bannerVideo6-1.png)">
    <div class="md:w-1/2 backdrop-brightness-75">
      <p class="font-bold text-sm uppercase">Become a Host</p>
      <p class="text-3xl font-bold">Your home is our Adventure</p>
      <p class="text-2xl mb-10 leading-none">Let's get you started!</p>
      <a href="#" class="bg-gradient-to-r from-pink-500 to-pink-800 py-4 px-8 text-white font-bold uppercase text-xs rounded hover:bg-gray-200 hover:text-gray-800">Let's go!</a>
    </div>

  </div>


<%# carosel %>
  <div class="flex flex-col items-center border-t-4 border-pink mb-20">
    <h2 class="mt-10 text-2xl"><strong> What kind of place do you want to rent out?</strong></h2>
    <div class="container">
      <%# <div class="carousel">
        <div class="carousel__item carousel__item--selected">pic 1</div>
        <div class="carousel__item">pic 2</div>
        <div class="carousel__item">pic 3</div>

      </div> %>
      <div class="carousel">
        <div class="carousel__item"><h2><strong>Beach Home</strong></h2>
          <div class="flex space-x-2 justify-center ">
            <button type="button" class="absolute bottom-4 left-4 z-40 inline-block px-6 py-2.5 bg-teal text-white font-medium text-xs leading-tight uppercase rounded shadow-lg hover:bg-teal-700 hover:shadow-lg focus:bg-pink-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-pink-800 active:shadow-lg transition duration-150 ease-in-out">It's most like this one!</button>
          <%# absolute bottom-4 left-4 %>
          </div>
        </div>
        <div class="carousel__item"><h2><strong>Castle</strong></h2>
          <div class="flex space-x-2 justify-center ">
            <button type="button" class="absolute bottom-4 left-4 z-40 inline-block px-6 py-2.5 bg-teal text-white font-medium text-xs leading-tight uppercase rounded shadow-lg hover:bg-teal-700 hover:shadow-lg focus:bg-pink-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-pink-800 active:shadow-lg transition duration-150 ease-in-out">It's most like this one!</button>
          <%# absolute bottom-4 left-4 %>
          </div>
        </div>
        <div class="carousel__item"><h2><strong>Tiny House</strong></h2>
        <div class="flex space-x-2 justify-center ">
            <button type="button" class="absolute bottom-4 left-4 z-40 inline-block px-6 py-2.5 bg-teal text-white font-medium text-xs leading-tight uppercase rounded shadow-lg hover:bg-teal-700 hover:shadow-lg focus:bg-pink-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-pink-800 active:shadow-lg transition duration-150 ease-in-out">It's most like this one!</button>
          <%# absolute bottom-4 left-4 %>
        </div>
      </div>
    </div>
  </div>
<%# </div> %>
<%= simple_form_for(@flat) do |f|%>
<%# <%= f.input :amenities, collection: Flat::AMENITIES %>
  <%= f.input :address  %>
  <%= f.input :city %>
  <%= f.input :country %>
  <%= f.input :state %>
  <%= f.input :zipcode %>
  <%= f.input :photo, as: :file %>
  <%= f.input :price %>
  <%= f.button :submit %>

<% end %>

        <%# Delketed material %>


<%# <%= render "form", flat: @flat %>
<script src="./multiselect.js"></script>
<script src="./carousel.js"></script>
<script src="./scroll_up.js"></script>
